@import 'veriables.scss';


.audience {
    display: flex;
    flex-direction: column;
    background: #d9eff7;
    padding: 35px 15px;
    align-items: center;
    justify-content: center;

    @include for-large {
        padding: 110px 0;
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: 30px;
        margin: 0;

        &_h2 {
            text-align: center;
            padding: 0;
            margin: 0;
            padding-bottom: 20px;

        }

        &_h1 {
            text-align: center;
            padding: 0;
            margin: 0;
            padding-bottom: 18px;
            font-size: 1.3em;

            @include for-large {
                width: 555px;
                font-size: 1.8em;
            }
        }

        &_text {
            padding: 0;
            margin: 0;
            font-size: 1.5em;
            line-height: 1.6em;
            text-align: center;

            @include for-large {
                width: 555px;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;

        @include for-large {
            flex-direction: row;
            margin-bottom: 110px;
        }

        &_get-started {
            width: 290px;
            height: 48px;
            background: #3040C4;
            color: #ffffff;
            border-radius: 2px;
            font-weight: 700;
            font-size: 18px;
            border: 0;
            margin-bottom: 12px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);

            @include for-large {
                background: #3040C4;
                width: 160px;
                height: 48px;
                border-radius: 4px;
                color: #ffffff;
                border-radius: 2px;
                font-weight: 700;
                font-size: 18px;
                border: 0;
                box-shadow: none;
            }
        }

        &_learn-more {
        width: 290px;
        height: 48px;
        background: #ffffff;
        color: #000000;
        border-radius: 2px;
        font-weight: 700;
        font-size: 18px;
        border: 0;
        margin-bottom: 40px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);

        @include for-large {
            background: #ffffff;
            width: 160px;
            height: 48px;
            border-radius: 4px;
            color: #000000;
            border-radius: 2px;
            font-weight: 700;
            font-size: 18px;
            border: 0;
            margin-left: 10px;
            box-shadow: none;
        }
        }
    }

    &__images {
        display: flex;
        flex-direction: column;

        @include for-large {
            flex-direction: row;
        }

        &_img-div {
            margin-bottom: 15px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
            background-color: white;
            display: flex;
            width: 262px;
            height: 300px;
            border-radius: 8px;

            @include for-large {
                margin-right: 31px;
                box-shadow: none;
            }
    
        }


        &_img {
            margin: auto;
        }

// ================================================don't work
        &_selected {
            display: none;
            box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
            background-color: #3141C5;
        }
// ================================================don't work
    }
}

.selected {
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
    background-color: #3141C5;

    @include for-large {
        box-shadow: none;
    }
}